<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Site</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body class="container">
<h1><%= title %></h1>

<form method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="title" class="form-label">Titre</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Titre du livre" value="<%= (book !== null) ? book.title : '' %>">
    </div>
    <div class="mb-3">
        <label for="author" class="form-label">Auteur</label>
        <input type="text" class="form-control" id="author" name="author" placeholder="Auteur du livre" value="<%= book !== null ? book.author : '' %>">
    </div>
    <div class="mb-3">
        <label for="date_published" class="form-label">Date de publication</label>
        <input type="date" class="form-control" id="date_published" name="date_published" value="<%= book !== null ? moment(book.date_published).format('YYYY-MM-DD') : '' %>" data-form-type="date,published"></input>
    </div>
    <input type="file" id="image" name="image" accept="image/png, image/jpeg">
    <img src="<%= book.image ? book.image : '' %>" alt="<%= book.image ? book.image : '' %>" class="w-100">
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/books" class="btn btn-secondary">Retour</a>
  </form>
</body>
</html>