<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Site</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body>
<h1><%= title %></h1>
<a href="/books/create">Ajouter un livre</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titre</th>
            <th scope="col">Author</th>
            <th scope="col">date_published</th>
            <th scope="col">slug</th>
        </tr>
    </thead>
    <tbody>
        <% for (book in books) {%>
            <tr>
                <th scope="row">
                    <a href="/books/update/<%= books[book].id %>">Update</a>
                    <a href="/books/delete/<%= books[book].id %>">Delete</a>
                </th>
                <td><%= books[book].title %></td>
                <td><%= books[book].author %></td>
                <td><%= moment(books[book].date_published).format('L') %></td>
                <td><%= books[book].slug %></td>
            </tr>
        <% } %>
    </tbody>
</table>
</body>
</html>